[build]
  node_version = "18"
  command = "npm run build"
  publish = "/frontend/public"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
